@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}
.text_color{
    color: #fff;
    font-family: "Sora-Bold" ;
} 

.app_method{
    height: 225rem;
    overflow: hidden;
    margin: 0px;
}

.purchase_button{
     font-size: 20px;
     
}

h1{
    margin-bottom: 10px;
    
}

.paragraph_area{
    /* margin-left: 24em; */
    margin-top: 2em;
}

.profile_logo{
align-items: center;
justify-content: center;

}

.section_text{
    color: #fff;
}

.text_gradient{
    font-size: larger;
    font-weight: 500;
    background:linear-gradient(90deg,  #F87516 0%, #5E11FF 100% );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; 
    
}

.button_effect{
    color: #fff;
    background:linear-gradient( 90deg, #5E11FF 0% ,  #F87516 100% );
    margin-top: 2rem;
    
    
}
/* @media screen and (max-width: 1200) {
    .app_method{
        height: 300rem;
    }
} */





